// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.centered
{
  text-align: center;
};

h1.fancy
{
  color: darkgreen;
  text-decoration: underline;
};

div#welcome
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid blue;
  width: 40%;
  padding: 10px;
};

h2
{
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
};

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
};

.bold-blue
{
  font-weight: bold;
  color: blue;
  text-decoration: underline;
};