#header {

  background-color: dodgerblue;
  padding: 20px;
  font-size: 16pt;

  a {
    color: white;
    &:hover {
      color:yellow;
      background-color: dodgerblue;
    }
  }

};

table
{
  margin: 0px;
  padding: 0px;
  width: 50%;
  box-shadow: 10px 10px 5px #888888;
  border: 1px solid #000000;
  border-collapse: collapse;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
};

thead
{
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
};

th
{
  font-weight: bold;
};

td, th
{
  border: 1px solid black;
}

p#description {
  text-align: center;
  font-size: 14pt;
  color: green;
}





